@import "../../styles/variables";
@import "../../styles/mixins";

.products {
  @include centerize();
  background-color: $grey-background;
  text-align: center;
  padding: 5%;
  &__header {
    text-align: center;
  }
  &__title {
    @include title-text();
  }
  &__heading {
    @include text-type();
  }
  &__wrapper {
    @include flex-type($wrap: wrap, $align: stretch);
    margin-top: 5%;
    @media (max-width: 760px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  &__card {
    width: 20%;
    border-radius: 15px;
    padding: 2%;
    -webkit-box-shadow: 24px 18px 50px -20px rgba(167, 167, 167, 0.78);
    box-shadow: 24px 18px 50px -20px rgba(167, 167, 167, 0.78);
    background-color: #fff;
    position: relative;
    @include flex-type($direction: column);
    @media (max-width: 760px) {
      width: 60%;
    }
    hr {
      margin: 5% 0;
    }
    &-heading {
      @include text-type($size: 20px, $weight: 600);
      position: relative;
      right: 5%;
    }
    &:hover {
      @include mousehover();
      cursor: pointer;
    }
  }
  &__category {
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: $headings-color;

    padding: 2%;
    border-radius: 15px;
    @include regular-text();
    color: #fff;
  }
  &__image {
    width: 100%;
  }
  &__footer {
    @include flex-type($wrap: wrap);
  }
  &__discount-price {
    @include text-type(15px, 600, $open-sans);
    color: $discount-price-color;
    text-decoration: line-through;
  }
  &__price {
    @include text-type(18px, 700, $open-sans);
  }
  &__rate {
    color: $stars-color;
  }
  &__btn {
    margin-top: 5%;
    @include blue-button();
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    .spinner {
      width: 50px;
      height: 50px;
      border: 5px solid rgba(0, 0, 0, 0.1);
      border-top: 5px solid $loader-color;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
