@import "../../styles/variables";

.orders {
  @include text-type($size: 18px, $weight: 500);
  background-color: $grey-background;
  margin-top: 10%;

  &__heading {
    @include text-type;
    padding: 2%;
    text-align: center;
  }

  &__card {
    width: 90%;
    margin: 5% auto;
    @include flex-type($align: flex-start);

    & > div {
      width: 20%;
    }

    @media (max-width: 1000px) {
      flex-direction: column;

      & > div {
        width: 80%;
        text-align: center;
      }
    }
  }

  &__loading {
    text-align: center;
    font-size: 1.5rem;
    color: $loader-color;
  }
  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    .spinner {
      width: 50px;
      height: 50px;
      border: 5px solid rgba(0, 0, 0, 0.1);
      border-top: 5px solid $loader-color;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
