.orders {
  background-color: $grey-background;
  margin-top: 10%;

  &__heading {
    padding: 2%;
    text-align: center;
  }

  &__table-wrapper {
    overflow-x: auto;
    padding: 2%;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 400;
    color: $text-color;

    th,
    b {
      color: $headings-color;
      font-weight: 700;
    }

    th,
    td {
      padding: 1rem;
      text-align: left;
      vertical-align: top;
      border-bottom: 1px solid #e0e0e0;
    }

    th {
      background-color: #f5f5f5;
      font-weight: 600;
    }

    tr:hover {
      background-color: #fafafa;
    }
  }
  &__button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: $delete-color;
  }

  &__products-list {
    padding-left: 1rem;
    margin: 0;

    li {
      list-style: disc;
    }
  }

  &__loading {
    text-align: center;
    font-size: 1.5rem;
    color: $loader-color;
  }
}
