@import "../../../styles/variables";
@import "../../../styles/mixins";

.cart {
  @media (max-width: 760px) {
    margin-top: 50%;
  }
  padding-bottom: 5%;
  @include centerize;
  background-color: $cart-background-color;
  &__header {
    position: relative;
    margin-top: 10%;
  }
  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include text-type();
  }
  &__image {
    width: 100%;
  }
  &__btn {
    @include blue-button();
    @include centerize(15%);
    @media (max-width: 760px) {
      width: 30%;
    }
  }
}
