@import "../../styles/variables";
@import "../../styles/mixins";

.about {
  @include centerize();
  @include flex-type(center);
  background-color: $grey-background;
  &__image {
    width: 40%;
    img {
      width: 100%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__info {
    width: 40%;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
  &__title {
    @include title-text();
  }
  &__heading {
    @include text-type();
  }
  &__text {
    @include regular-text();
  }
  &__card {
    margin-top: 5%;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
      "icon heading"
      "icon text";
    svg {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      grid-area: icon;
    }
    &-heading {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: heading;
      @include text-type(25px);
    }
    &-text {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
      grid-area: text;
      @include regular-text();
    }
  }
  &__btn {
    margin-top: 4%;
    @include blue-button();
    padding: 4% 6%;
  }
}
