$roboto: "Roboto Flex", sans-serif;
$open-sans: "Open Sans", sans-serif;
$yellowtail: "Yellowtail", cursive;

$headings-color: #274c5b;
$hr-line: #f9f8f8;
$titles-color: #7eb693;
$gold-buttons: #efd372;
$eco-background: #eff6f1;
$grey-background: #f9f8f8;
$text-color: #525c60;
$discount-price-color: #b8b8b8;
$stars-color: #ffa858;
$cart-background-color: rgba(253, 176, 45, 0.16);
