@import "../../styles/variables";
@import "../../styles/mixins";

.testimonials {
  background-image: url(../../assets/images/testimonials-background.png);
  background-size: cover;
  padding: 10%;
  &__header {
    text-align: center;
  }
  &__title {
    @include title-text();
  }
  &__heading {
    @include text-type();
  }
  &__swiper {
    @include centerize(60%);
    padding: 5% !important;
    .swiper-pagination {
      margin-top: 10px;
    }
    @media (max-width: 768px) {
      width: auto;
    }
  }
  &__card {
    text-align: center;
    cursor: pointer;
    @media (max-width: 760px) {
      background-color: #fff;
      border-radius: 20px;
    }
  }
  &__image {
    @include centerize(20%);
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  hr {
    @include centerize(50%);
  }
  &__statistics {
    @include flex-type($align: stretch);
    @include centerize(90%);
    padding: 5%;
    @media (max-width: 760px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: center;
    }
    &-card {
      width: 158px;
      height: 158px;
      border: solid $titles-color 5px;
      background-color: $grey-background;
      border-radius: 50%;
      padding: 1%;
      text-align: center;
      @include flex-type($direction: column, $justify: center);
    }
    &-number {
      @include text-type();
    }
    &-text {
      @include text-type($size: 18px, $weight: 600, $family: $open-sans);
    }
  }
}
