@import "../../styles/variables";
@import "../../styles/mixins";

.cart {
  &__form {
    padding: 5%;
    text-align: center;
    @include flex-type($wrap: wrap, $gap: 20px, $direction: column);
    div {
      @include centerize(70%);
      @include flex-type($wrap: wrap, $gap: 20px, $direction: column);
    }
    label {
      width: 50%;
      @media (max-width: 768px) {
        width: 80%;
      }
    }
    input {
      width: 50%;
      padding: 1%;
      border-radius: 15px;
      @media (max-width: 768px) {
        width: 80%;
        border-radius: 10px;
      }
    }
    textarea {
      width: 50%;
      padding: 1%;
      border-radius: 15px;
      @media (max-width: 768px) {
        width: 80%;
        border-radius: 10px;
      }
    }
    button {
      @include blue-button();
      @media (max-width: 768px) {
        width: 57%;
        border-radius: 10px;
      }
    }
  }
}
