@import "../../styles/variables";
@import "../../styles/mixins";

.cart {
  &__form {
    @include centerize(70%);
    padding: 5%;
    text-align: center;
    @include flex-type($wrap: wrap, $gap: 20px);
    label {
      width: 20%;
      @media (max-width: 768px) {
        width: 80%;
      }
    }
    input {
      width: 25%;
      padding: 1%;
      border-radius: 15px;
      @media (max-width: 768px) {
        width: 80%;
      }
    }
    textarea {
      width: 70%;
      padding: 1%;
      border-radius: 15px;
      @media (max-width: 768px) {
        width: 80%;
      }
    }
    button {
      @include blue-button();
    }
  }
}
